<form #myForm="ngForm">
  <div class="container">
    <div class="row">
      <div class="form-group" [ngClass]="{'has-error': !nome.valid && (nome.dirty || nome.touched)}">
        <label for="nome" class="control-label">Nome</label>
        <input type="text" class="form-control" id="nomeModel" name="nomeModel" [(ngModel)]="nomeModel" #nome="ngModel"
          required />
        <span class="help-block" *ngIf="nome.errors && (nome.dirty || nome.touched)">
          <ul>
            <li *ngIf="nome.errors.required">
              O campo nome é requerido
            </li>
          </ul>
        </span>
      </div>
      <div class="form-group" [ngClass]="{'has-error': !email.valid && (email.dirty || email.touched)}">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="emailModel" name="emailModel" [(ngModel)]="emailModel" #email="ngModel"
          required email />
        <span class="help-block" *ngIf="email.errors && (email.dirty || email.touched)">
          <ul>
            <li *ngIf="email.errors.required">
              O campo email é requerido
            </li>
            <li *ngIf="email.errors.email">
              O campo email é inválido
            </li>
          </ul>
        </span>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Enviar</button>
    </div>
  </div>
</form>
